In [1]:
!pip install pyspark  # Requirements
from pyspark import SparkContext, SparkConf

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 52.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=e46aa6519604105ff4739f0b7cee523988f86b8cc656d9f8778cee308305e8d3
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
conf = SparkConf().setAppName("homework").set('spark.ui.port', '4050')
spark = SparkContext(conf=conf)

In [3]:
rdd = spark.textFile("/content/data.csv")
len(rdd.collect())

50

In [4]:
rdd.filter(lambda item: item == 'Princeton University').collect()

['Princeton University']

In [5]:
rdd.map(lambda item: item.upper()).collect()

['MASSACHUSETTS INSTITUTE OF TECHNOLOGY',
 'UNIVERSITY OF OXFORD',
 'UNIVERSITY OF CAMBRIDGE',
 'STANFORD UNIVERSITY',
 'HARVARD UNIVERSITY',
 'CALIFORNIA INSTITUTE OF TECHNOLOGY',
 'IMPERIAL COLLEGE LONDON',
 'SWISS FEDERAL INSTITUTE OF TECHNOLOGY IN ZURICH',
 'UNIVERSITY COLLEGE LONDON',
 'UNIVERSITY OF CHICAGO',
 'NATIONAL UNIVERSITY OF SINGAPORE',
 'NANYANG TECHNOLOGICAL UNIVERSITY',
 'UNIVERSITY OF PENNSYLVANIA',
 'SWISS FEDERAL INSTITUTE OF TECHNOLOGY IN LAUSANNE',
 'YALE UNIVERSITY',
 'UNIVERSITY OF EDINBURGH',
 'TSINGHUA UNIVERSITY',
 'PEKING UNIVERSITY',
 'COLUMBIA UNIVERSITY',
 'PRINCETON UNIVERSITY',
 'CORNELL UNIVERSITY',
 'UNIVERSITY OF HONG KONG',
 'UNIVERSITY OF TOKYO',
 'UNIVERSITY OF MICHIGAN',
 'JOHNS HOPKINS UNIVERSITY',
 'UNIVERSITY OF TORONTO',
 'MCGILL UNIVERSITY',
 'AUSTRALIAN NATIONAL UNIVERSITY',
 'UNIVERSITY OF MANCHESTER',
 'NORTHWESTERN UNIVERSITY',
 'FUDAN UNIVERSITY',
 'UNIVERSITY OF CALIFORNIA, BERKELEY',
 'KYOTO UNIVERSITY',
 'HONG KONG UNIVERSITY OF SCIENCE AND TECHNOLOGY',
 "KING'S COLLEGE LONDON",
 'SEOUL NATIONAL UNIVERSITY',
 'UNIVERSITY OF MELBOURNE',
 'UNIVERSITY OF SYDNEY',
 'CHINESE UNIVERSITY OF HONG KONG',
 'UNIVERSITY OF CALIFORNIA, LOS ANGELES',
 'KAIST',
 'NEW YORK UNIVERSITY',
 'UNIVERSITY OF NEW SOUTH WALES',
 'PARIS SCIENCES ET LETTRES UNIVERSITY',
 'ZHEJIANG UNIVERSITY',
 'UNIVERSITY OF BRITISH COLUMBIA',
 'UNIVERSITY OF QUEENSLAND',
 'UNIVERSITY OF CALIFORNIA, SAN DIEGO',
 'POLYTECHNIC INSTITUTE OF PARIS',
 'LONDON SCHOOL OF ECONOMICS']

In [6]:
rdd.groupBy(lambda item: item[0]).map(lambda item: (item[0], list(item[1]))).collect()

[('S',
  ['Stanford University',
   'Swiss Federal Institute of Technology in Zurich',
   'Swiss Federal Institute of Technology in Lausanne',
   'Seoul National University']),
 ('C',
  ['California Institute of Technology',
   'Columbia University',
   'Cornell University',
   'Chinese University of Hong Kong']),
 ('N',
  ['National University of Singapore',
   'Nanyang Technological University',
   'Northwestern University',
   'New York University']),
 ('J', ['Johns Hopkins University']),
 ('K', ['Kyoto University', "King's College London", 'KAIST']),
 ('L', ['London School of Economics']),
 ('M', ['Massachusetts Institute of Technology', 'McGill University']),
 ('U',
  ['University of Oxford',
   'University of Cambridge',
   'University College London',
   'University of Chicago',
   'University of Pennsylvania',
   'University of Edinburgh',
   'University of Hong Kong',
   'University of Tokyo',
   'University of Michigan',
   'University of Toronto',
   'University of Manchester',
   'University of California, Berkeley',
   'University of Melbourne',
   'University of Sydney',
   'University of California, Los Angeles',
   'University of New South Wales',
   'University of British Columbia',
   'University of Queensland',
   'University of California, San Diego']),
 ('H',
  ['Harvard University', 'Hong Kong University of Science and Technology']),
 ('I', ['Imperial College London']),
 ('Y', ['Yale University']),
 ('T', ['Tsinghua University']),
 ('P',
  ['Peking University',
   'Princeton University',
   'Paris Sciences et Lettres University',
   'Polytechnic Institute of Paris']),
 ('A', ['Australian National University']),
 ('F', ['Fudan University']),
 ('Z', ['Zhejiang University'])]

In [7]:
text_file = open("/content/text.txt", 'r')
text_tokenized = []

for line in text_file:
  for word in line.split():
    token = word.replace('.', '').strip().lower()
    if token:
      text_tokenized.append(token)
      
text_rdd = spark.parallelize(text_tokenized)

In [8]:
text_rdd.map(lambda item: (item, 1)).reduceByKey(lambda count1, count2: count1 + count2).collect()

[('an', 4),
 ('of', 3),
 ('needed', 1),
 ('tell', 1),
 ('use', 1),
 ('paid', 1),
 ('law', 2),
 ('ever', 1),
 ('yet', 1),
 ('new', 2),
 ('style', 1),
 ('allow', 1),
 ('he', 2),
 ('there', 3),
 ('stand', 1),
 ('tears', 1),
 ('ten', 2),
 ('widen', 1),
 ('procuring', 1),
 ('continued', 1),
 ('pursuit', 1),
 ('brother', 1),
 ('are', 3),
 ('fifteen', 1),
 ('distant', 1),
 ('equal', 1),
 ('quiet', 1),
 ('visit', 1),
 ('appear', 1),
 ('as', 2),
 ('no', 3),
 ('praise', 1),
 ('in', 4),
 ('is', 1),
 ('amiable', 1),
 ('farther', 1),
 ('middletons', 1),
 ('boy', 1),
 ('moonlight', 1),
 ('interested', 1),
 ('difficulty', 1),
 ('assistance', 1),
 ('unaffected', 1),
 ('at', 2),
 ('ye', 1),
 ('compliment', 1),
 ('alteration', 1),
 ('arise', 1),
 ('parlors', 1),
 ('waiting', 1),
 ('against', 1),
 ('warrant', 1),
 ('settled', 1),
 ('was', 1),
 ('luckily', 1),
 ('opinion', 1),
 ('enable', 1),
 ('seeing', 1),
 ('remainder', 1),
 ('but', 2),
 ('sincerity', 1),
 ('length', 1),
 ('attachment', 1),
 ('appearance', 1),
 ('excellence', 1),
 ('way', 1),
 ('lived', 1),
 ('whose', 1),
 ('leave', 1),
 ('advice', 1),
 ('me', 2),
 ('cousin', 1),
 ('spring', 1),
 ('meant', 1),
 ('to', 4),
 ('learn', 1),
 ('vexed', 1),
 ('if', 2),
 ('tiled', 2),
 ('man', 1),
 ('joy', 2),
 ('terms', 1),
 ('any', 1),
 ('suspicion', 1),
 ('its', 1),
 ('had', 3),
 ('has', 2),
 ('early', 1),
 ('add', 1),
 ('china', 1),
 ('manner', 1),
 ('limits', 1),
 ('either', 1),
 ('written', 1),
 ('on', 2),
 ('charmed', 1),
 ('justice', 1),
 ('besides', 2),
 ('insensible', 1),
 ('unsatiable', 1),
 ('for', 2),
 ('apartments', 1),
 ('delightful', 1),
 ('unreserved', 1),
 ('difficult', 1),
 ('engrossed', 2),
 ('it', 3),
 ('sportsmen', 1),
 ('all', 1),
 ('devonshire', 1),
 ('gay', 2),
 ('place', 1),
 ('voice', 1),
 ('along', 1),
 ('so', 2),
 ('wishing', 1),
 ('calling', 1),
 ('express', 1),
 ('present', 1),
 ('visitor', 1),
 ('piqued', 1),
 ('favour', 1),
 ('stairs', 1),
 ('exeter', 1),
 ('met', 1),
 ('improving', 1),
 ('age', 1),
 ('better', 1),
 ('denied', 1),
 ('abroad', 1),
 ('astonished', 1),
 ('imprudence', 1),
 ('collecting', 1),
 ('blind', 1),
 ('the', 1),
 ('fully', 1),
 ('she', 1),
 ('merit', 1),
 ('enjoy', 1),
 ('forth', 1)]

In [10]:
!wget -qnc https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip -n -q ngrok-stable-linux-amd64.zip
!./ngrok authtoken 25hdZ065Vc4gRzz0PrT0hbdmJlL_7ie6Gaf3DnXNsonr42Wyi
get_ipython().system_raw('./ngrok http 4050 &')
!curl -s http://localhost:4040/api/tunnels | grep -Po 'public_url":"(?=https)\K[^"]*'

Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml
https://b6ed-35-229-86-112.ngrok.io